---
layout: default
title: About us
permalink: /about
---
<h1>About us</h1>
{% include about-us.md %}
<h1>People</h1>
<div class="row">
    {% for person in site.people %}
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{person.picture}}" alt="Card image cap" width="286" height="262">
            <div class="card-body">
                <h5 class="card-title">{{ person.title }}</h5>
                <p class="card-text">{{ person.position }}</p>
                <a href="{{ site.url }}/people/{{ person.title | downcase | replace: ' ', '-' }}" class="btn btn-primary">Read profile</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>