<div class="container">
    <hr>
</div>
<footer>
    <div class="container">
        <div class="h5 font-weight-bold text-right">
            <p><a class="external-link text-decoration-none" href="{{site.data.links.main.website}}">UoB Pro Bono Society</a></p>
            <div class="row">
                <div class="col-1">
                    <a class="external-link external-link-facebook text-decoration-none" href="{{site.data.links.social_media.facebook}}">
                        <img src="assets/icon/social-media-icons/facebook/f_logo_RGB-Blue_72.png" alt="facebook" width="36px" height="36px">
                    </a>
                </div>
                <div class="col-1">
                    <a class="external-link external-link-facebook text-decoration-none" href="{{site.data.links.social_media.twitter}}">
                        <img src="assets/icon/social-media-icons/twitter/Twitter_Social_Icon_Circle_Color.svg" alt="twitter" width="36px" height="36px">
                    </a>
                </div>
                <div class="col-1">
                    <a class="external-link external-link-instagram text-decoration-none" href="{{site.data.links.social_media.instagram}}">
                        <img src="assets/icon/social-media-icons/instagram/glyph-logo_May2016_pink_circle.png" alt="instagram" width="36px" height="36px">
                    </a>
                </div>
            </div>
        </div>
        <p class="text-center">Developed by <a class="text-decoration-none" href="https://github.com/viper12590">Seunghun Lee</a></p>
    </div>
</footer>