<div class="container">
    <hr>
</div>
<footer>
    <div class="container">
        <div class="h5 font-weight-bold text-right">
            <p><a class="text-decoration-none" href="{{site.data.links.main.website}}">UoB Pro Bono Society</a></p>
            <p><a class="external-link external-link-facebook text-decoration-none" href="{{site.data.links.social_media.facebook}}">Facebook</a></p>
            <p><a class="external-link external-link-twitter text-decoration-none" href="{{site.data.links.social_media.twitter}}">Twitter</a></p>
            <p><a class="external-link external-link-instagram text-decoration-none" href="{{site.data.links.social_media.instagram}}">Instagram</a></p>
        </div>
        <p class="text-center">Developed by <a class="text-decoration-none" href="https://github.com/viper12590">Seunghun Lee</a></p>
    </div>
</footer>