.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    text-shadow: 0 0 10px black;
    background-image: url("/assets/media/thetippingscales-banner.png");
    background-color: #afbdff;
}


.blog-content {
    max-width: 750px;
    margin: 2% auto;
}

.post {

}

.post-title {
    color: #212529;
}

.post-title:hover {
    color: #5271ff;
}

/*override btn btn-primary*/
.btn.btn-primary {
    background-color: #5271ff;
    border-color: #5271ff;
}

.btn.btn-primary:hover {
    background-color: #2847ff;
    border-color: #2847ff;
}

/*override btn btn-outline-primary*/
.btn.btn-outline-primary {
    color: #5271ff;
    border-color: #5271ff;
}

.btn.btn-outline-primary:hover {
    color: white;
    background-color: #5271ff;
    border-color: #5271ff;
}

/*override page-link*/
.page-link {
    color: #5271ff;
}

.page-link:hover {
    color: #8197ff;
}

/*override page-item active page-link*/
.page-item.active .page-link {
    color: white;
    background-color: #5271ff;
    border-color: #5271ff;
}

.error-page {
    margin-top: 10%;
}

a {
    color: #5271ff;
}

a:hover {
    color: #8197ff;
}

img.profile {
    object-fit: cover;
    object-position: center center;
    pointer-events: none;
}

span {
    display: inline-block;
}