.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 10px black;
}

.banner-home {
    background-color: #311935;
    background-blend-mode: luminosity;
    background-image: url("/assets/media/background.jpg");
}

.banner-blog {
    background-image: url("/assets/media/background2.jpg");
}

.blog-content {
    max-width: 750px;
    margin: 2% auto;
}

.post {

}

.post-title {
    color: #212529;
}

.post-title:hover {
    /*color: #ac53bb;*/
    color: purple;
}

/*override btn btn-primary*/
.btn.btn-primary {
    background-color: purple;
    border-color: purple;
}

.btn.btn-primary:hover {
    background-color: #670067;
    border-color: #670067;
}

/*override btn btn-outline-primary*/
.btn.btn-outline-primary {
    color: purple;
    border-color: purple;
}

.btn.btn-outline-primary:hover {
    color: white;
    background-color: purple;
    border-color: purple;
}

a {
    color: purple;
}

a:hover {
    color: blueviolet;
}

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 60px; !* Set the fixed height of the footer here *!*/
/*    line-height: 60px; !* Vertically center the text there *!*/
/*    background-color: #f5f5f5;*/
/*    margin-bottom: 0;*/
/*}*/