.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 10px black;
}

.banner-home {
    background-image: url("/assets/media/banner-proto-2.png");
    background-position: right top;
    background-color: #937399;
}

.banner-about {
    background-image: url("/assets/media/thumbnail_openday.jpg");
}

.banner-blog {
    background-color: #937399;
    /*background-image: url("/assets/media/background2.jpg");*/
}

.blog-content {
    max-width: 750px;
    margin: 2% auto;
}

.post {

}

.post-title {
    color: #212529;
}

.post-title:hover {
    /*color: #ac53bb;*/
    color: purple;
}

/*override btn btn-primary*/
.btn.btn-primary {
    background-color: purple;
    border-color: purple;
}

.btn.btn-primary:hover {
    background-color: #670067;
    border-color: #670067;
}

/*override btn btn-outline-primary*/
.btn.btn-outline-primary {
    color: purple;
    border-color: purple;
}

.btn.btn-outline-primary:hover {
    color: white;
    background-color: purple;
    border-color: purple;
}

.error-page {
    margin-top: 10%;
}

.external-link {
    color: grey;
}

.external-link-facebook:hover {
    color: #1877F2;
}

.external-link-twitter:hover {
    color: #1DA1F2;
}

.external-link-instagram:hover {
    color: #ED5475;
}

a {
    color: purple;
}

a:hover {
    color: blueviolet;
}

img.profile {
    object-fit: cover;
    object-position: center center;
    pointer-events: none;
}

span {
    display: inline-block;
}