---
layout: blog-page
title: Articles

---

{% include tags.html %}
<article>
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <article>
        {% assign author = post.author | remove_first: "_people/" | remove_first: ".md" %}
        {% assign firstName = author | replace: "-", " "  | truncatewords: 1, "" %}
        {% assign lastName = author | replace: "-", "" | remove_first: firstName %}
        <h1 class="text-center display-4 font-weight-bold"><a class="post post-title text-decoration-none" href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="text-center mb-0">
            <small>Posted on {{ post.date | date_to_string }} by <a class="text-decoration-none" href="{{ site.url }}/people/{{ author }}">{{ firstName | capitalize }} {{ lastName | capitalize }}</a></small>
        </p>
        {% if post.tags.size > 0 %}
        <p class="text-center">
            <small>Tags:
                {% for tag in post.tags %}
                <a class="text-decoration-none" href="{{ site.url }}/tags/{{ tag }}">{{ tag }}</a>
                <a> / </a>
                {% endfor %}
            </small>
        </p>
        {% endif %}
        <p>{{ post.excerpt }}</p>
        <a class="text-decoration-none" href="{{post.url}}">Continue reading →</a>
    </article>
    {% endfor %}
</article>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}
